<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer">Calzada Users</span>
    <button *ngIf="!usersService?.user" mat-raised-button (click)="usersService.signIn()">Ingresar</button>
    <button *ngIf="usersService?.user"  mat-raised-button color="warn" (click)="usersService.signOut()">Salir</button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="usersService?.user">
    <button mat-raised-button class="spacer">
      <img [src]="usersService.user?.photoURL" alt="" class="btn-avatar"> {{usersService.user?.email}}
    </button>
    <mat-slide-toggle [checked]="usersService.admin" (change)="usersService.callAdmin($event)">Administrador</mat-slide-toggle>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngFor="let user of users | async">
  <mat-card-header>
    <img [src]="user.photoURL" alt="user photo" mat-card-avatar>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-flat-button color="warn" (click)="usersService.delete(user)">Borrar</button>
  </mat-card-actions>
</mat-card>
